h1,
.navbar a{
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}
h2,
h3,
h4,
h5,
h6{
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
}
p{
  font-family: 'Questrial', Helvetica, Arial, sans-serif;
}
a:focus{
  outline: none;
}
html{
    background-color: #000;
}
body{
  background-color: transparent;
}
.navbar-fixed{
    position: fixed;
    width: 100%;
}
.navbar-bottom{
    bottom: 35px;
}
.page-content{
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding-top: 100px;
    height: 700px;
}
#Login{
    background: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)),
        url(../img/testimonial_fullwidth_bg.jpg); 
}
#Register{
    background: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)),
        url(../img/home-banner.jpg); 
}
#Home{
    background: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)),
        url(../img/home-testimonial-bg.jpg); 
}
#VenueBooking{
    background: linear-gradient(
        rgba(0, 0, 0, 0.0),
        rgba(0, 0, 0, 0.0)),
        url(../img/gym_bkgd_bw-compressor.jpg); 
}
#FindTrainer{
    background: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)),
        url(../img/home_img-compressor.jpg); 
}
#FindTrainer p,
#VenueBooking p{
    color: #fff;
    text-align: left;
}
#VenueBooking .page-desc img{
    height: 80px;
}
#VenueBooking .page-desc p{
    font-size: 24px;
}
#Login .page-desc{
  margin-top: 20px;
}
#Login .default-form{
  margin: 80px auto;
}
.top-navbar{
  height: 65px;
  padding-top: 15px;
  padding-bottom: 10px;
}
.top-navbar img{
  height: 100%;
  width: auto;
}
.home-content{
  height: 500px;
  padding-top: 30px;
}
.page-desc{
  padding: 30px 90px 0px;
}
.page-desc h1{
  color: #fff;
  font-size: 80px;
  line-height: normal;
}
.page-desc h3{
  color: #fff;
  font-size: 36px;
  line-height: normal;
}
.page-desc p{
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}
.page-desc h1{
    font-size: 80px;
    line-height: normal;
}
.page-desc p{
  font-size: 16px;
  line-height: 23px;
}
.default-form{
  background-color: rgba(0,0,0,0.4);
  box-shadow: 1px 1px 15px #eee;
  margin: auto;
  margin-bottom: 30px;
  padding: 30px;
  text-align: center;
  width: 100%;
}
.default-form input, 
.default-form select{
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  padding: 8px 10px;
  width: 100%;
}
.default-form select{
  height: 36px;
}
.default-form .col-md-6:first-child,
.default-form .col-md-4{
  padding-right: 5px;
}
.default-form .col-md-6:nth-child(2),
.default-form .col-md-8{
  padding-left: 5px;
}
.default-form h2{
  color: #fff;
  display: block;
  font-size: 18px;
  line-height: normal;
}
.default-form hr{
  margin-top: 10px;
  margin-bottom: 15px;
}
.default-form input[type="submit"],
input[type="submit"].default-btn,
.default-btn{
  color: #fff;
  background-color: #ed1c24;
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  width: 80%;
}
.main-menu > a:first-child > img{
  display: none;
}
.navbar{
    text-align: center;
    float: none !important;
}
.navbar ul{
    border-bottom: 3px solid #eee;
    width: 100%;
}
.navbar ul li{
    display: inline-block;
}
.navbar .menu-item{
  color: #fff;
  font-size: 16px;
  display: inline-block;
  padding: 0 30px 20px;
  margin-left: 30px;
  margin-right: 30px;
  text-transform: uppercase;
}
.navbar .menu-item.active{
  border-bottom: 3px solid #ed1c24;
  margin-bottom: -3px;
}
.navbar .menu-item:hover{
  border-bottom: 3px solid #ed1c24;
  margin-bottom: -3px;
}
.navbar .menu-item:focus{
  border: none;
  outline: none;
}
.navbar .menu-item:hover,
.navbar .menu-item:focus,
.navbar .menu-item:active{
  text-decoration: none;
}
.services-desc h2,
.services-desc p{
    color: #fff;
    font-size: 18px;
}
.services-desc a{
    display: block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    padding: 25px 30px;
}
.services-desc h2{
    color: #fff;
    font-size: 28px;
    line-height: normal;
}
.services-desc a .fa{
    color: #fff;
    display: inline-block;
    float: right;
}
.service-trainer{
    background: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)),
        url(../img/home_img-compressor.jpg); 
}
.service-venuebooking{
    background: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)),
        url(../img/book-venue-banner.jpg);
}
::-webkit-input-placeholder {
   color: #B5B8BB;
}
:-moz-placeholder { /* Firefox 18- */
   color: #B5B8BB;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #B5B8BB;  
}
:-ms-input-placeholder {  
   color: #B5B8BB;  
}